# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.packagehash
.pnp.js

# testing
/coverage

# Include all src files (some excluded in root .gitignore)
!src/**/*


# next.js
.previousEnableMockGraphqlSdkValue
/.next/
/.next-test/
/out/

# production
/build

# misc
.DS_Store
!.env
!.vscode
.env.local
*.code-workspace

# debug
npm-debug.log*
.next/trace
